.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 400px;
  border-radius: 5px;
}
.description {
  background-color: #fff;
  text-align: center;
  padding: 20px 72px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.avatar {
  width: 200px;
  border-radius: 50%;
  margin: 0 auto;
}
.name {
  font-size: 38px;
  font-weight: 600;
}
.tag,
.location {
  color: #4e4e4e;
  font-size: 30px;
  font-weight: 400;
}
.stats {
  display: flex;
  width: 100%;
  background-color: rgb(229, 229, 229);
}
.stats_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
  height: 80px;
  border: 2px solid #bfbaba;
}
.stats_item:nth-child(2) {
  border-right: none;
  border-left: none;
}
.label {
  margin-bottom: 10px;
  color: #4e4e4e;
  font-size: 15px;
  font-weight: 400;
}
.quantity {
  font-size: 20px;
  font-weight: 600;
}
